﻿@using Kendo.Mvc.UI;

@using LFWD.Web.Areas.Admin.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/kendo/styles")
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
}

@section scripts
{
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/bundles/kendo/js")
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script src="@Url.Content("~/Scripts/app/user.js")"></script>
    <script type="text/javascript">
        function getActionsInfo(item) {
            return [
                "<a class='edit-User edit-icon' data-id='" + item.UserId + "' href='/Users/EditUser/" + item.UserId + "'> <i class='fa fa-pencil' aria-hidden='true'></i></a>" +
                "<a class='del-User delete-icon' data-id='" + item.UserId + "' href='#modal-del-user-form'><i class='fa fa-trash-o' aria-hidden='true'></i></a> "
            ].join('');
        }
    </script>
}

@Html.Partial("ConfirmModal", new ModalViewModel
{
    Id = "modal-del-user-form",
    IsAlertModel = false,
    Title = "Delete User",
    Message = "Are you sure you want to delete this user?",
    HiddenElementId = "hdnUserId",
})

@*@Html.Partial("EditSaveModel", new UserViewModel
{
})*@

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Users</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title">
            Users <a href="#modal-add-user-form" data-toggle="modal" class="btn btn-info btn-rounded btn-outline pull-right"><i class="fa fa-plus"></i> &nbsp; Add User</a>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box black">

                    <div class="portlet-body flip-scroll no-padding">
                        @(Html.Kendo().Grid<UserModel>()
                                  .Name("UsersGrid")
                                  .Reorderable(x => x.Columns(true))
                                  .Pageable(page => page
                                      .Info(true)
                                      .ButtonCount(5)
                                      .Messages(message => message
                                          .Empty("No data")
                                          .Next("Next")
                                          .Previous("Previous")
                                          .First("First")
                                          .Last("Last")
                                      )
                                  )
                                  .Filterable()
                                  .Sortable()
                                  .Columns(columns =>
                                  {
                                      columns.Bound(o => o.UserId).Title("<b> UserId </b>").Visible(false);
                                      columns.Bound(o => o.Firstname).Title("<b> Firstname </b>");
                                      columns.Bound(o => o.Lastname).Title("<b> Lastname </b>");
                                      columns.Bound(o => o.Email).Title("<b> Email </b>");
                                      columns.Bound(o => o.IsActive).Title("<b> IsActive </b>");
                                      columns.Bound(o => o.Roles).Title("<b> Roles </b>");

                                      columns.Bound(o => o.Username).Title("<b> Username </b>");
                                      columns.Template(@<text></text>).Title("<b> Actions </b>")
                                           .ClientTemplate("#= getActionsInfo.apply(this, arguments) #");

                                  })
                                  .Events(events => events.DataBound("LFWD.Util.ConnectKendoGrids"))
                                  .DataSource(dataSource => dataSource
                                      .Ajax()
                                      .PageSize(10)
                                      .Model(model => model.Id(p => p.UserId))
                                      .Read(read => read.Action("UserList", "Users"))
                                  )
                                  .Scrollable()
                        )
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

@Html.Partial("SaveUser", new UserModel
{
})