﻿@using LFWD.Web.Areas.Admin.Models
@using System.Web.Mvc.Html

@model LFWD.Web.Areas.Admin.Models.UserModel

<div id="modal-add-user-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <form id="saveUserForm" action="@Url.Action("SaveUser", "Users")" class="form-horizontal" method="POST" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="modal-user-form-title">Add User</h4>
                    <small class="font-bold"></small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" id="UserId" name="UserId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">First Name<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Last Name<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">UserName<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group" id="txtPassword">
                                <label class="col-sm-3 control-label">Password<span class="required">*</span> </label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control small" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">IsActive</label>
                                <div class="col-sm-9">
                                    <div class="checkbox-style">
                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-control small" })
                                        <span class="check"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnSaveUser" type="submit" class="btn btn-warning btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


